// Sketchsheets 2018 by Mark Wilson

// Use Nanogram Colors
@require 'Nanogram/_Color'
// Use Nanogram Config
@require 'Nanogram/_Config'
// Use Animations
@require '_Animations'

// Site styles

body
  background #FFFFFF
  color #0A1F44


section.header
  margin-top 100px
  margin-bottom 50px
  h1
    margin-bottom 1rem
  h5
    color #8A94A6
    letter-spacing 0.035rem

section
  h1,h2,h3,h4,h5,h6,p
    max-width 500px
  h4
    color #0A1F44
    letter-spacing 0.035rem
  p
    color #8A94A6
  &:last-of-type
    margin-bottom 150px
