// Sketchsheets 2018 by Mark Wilson

// Use Nanogram Colors
@require 'Nanogram/_Color'
// Use Nanogram Config
@require 'Nanogram/_Config'
// Use Animations
@require '_Animations'

// Site styles
 
body 
  background #1D1E20
  color #FFFFFF
  

section.header
  margin-top 100px
  margin-bottom 50px
  h1
    margin-bottom 1rem
  h5
    color #AEB0BB
    letter-spacing 0.035rem
    
section
  h1,h2,h3,h4,h5,h6,p
    max-width 500px
  h4
    color #FFFFFF
    letter-spacing 0.035rem
  p
    color #AEB0BB
  &:last-of-type
    margin-bottom 150px