@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 100;
  src: url("Inter-Thin.ttf") format("ttf")
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 100;
  src: url("Inter-ThinItalic.ttf") format("ttf")
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 200;
  src: url("Inter-ExtraLight.ttf") format("ttf")
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 200;
  src: url("Inter-ExtraLightItalic.ttf") format("ttf")
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 300;
  src: url("Inter-Light.ttf") format("ttf")
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 300;
  src: url("Inter-LightItalic.ttf") format("ttf")
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  src: url("Inter-Regular.ttf") format("ttf")
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 400;
  src: url("Inter-Italic.ttf") format("ttf")
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 500;
  src: url("Inter-Medium.ttf") format("ttf")
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 500;
  src: url("Inter-MediumItalic.ttf") format("ttf")
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 600;
  src: url("Inter-SemiBold.ttf") format("ttf")
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 600;
  src: url("Inter-SemiBoldItalic.ttf") format("ttf")
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 700;
  src: url("Inter-Bold.ttf") format("ttf")
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 700;
  src: url("Inter-BoldItalic.ttf") format("ttf")
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 800;
  src: url("Inter-ExtraBold.ttf") format("ttf")
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 800;
  src: url("Inter-ExtraBoldItalic.ttf") format("ttf")
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 900;
  src: url("Inter-Black.ttf") format("ttf")
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 900;
  src: url("Inter-BlackItalic.ttf") format("ttf")
}
