// Built upon Milligram by CJ Patoilo
// https://milligram.github.io

// Link
// ––––––––––––––––––––––––––––––––––––––––––––––––––

a
	color color-light-typography
	text-decoration underline

	&:focus,
	&:hover
		color color-dark-typography
