doctype html
html
  title Mark Wilson - UI/UX Designer.
  meta(name='title', content="Mark Wilson - UI/UX Designer.")
  meta(property='og:title', content="Mark Wilson - UI/UX Designer.")
  meta(name='twitter:title', content="Mark Wilson - UI/UX Designer.")
  meta(name='description', content='UI/UX Designer from Glasgow, Scotland.')
  meta(property='og:description', content='UI/UX Designer from Glasgow, Scotland.')
  meta(name='twitter:description', content='UI/UX Designer from Glasgow, Scotland.')
  include include/_HeadMain.pug

  body
  
    include include/_Main.pug
            
    include include/_ScriptsMain.pug