doctype html
html
  title Nanogram
  meta(name='title', content="Nanogram")
  meta(property='og:title', content="Nanogram")
  meta(name='twitter:title', content="Nanogram")
  meta(name='description', content='Flexbox css framework')
  meta(property='og:description', content='Flexbox css framework')
  meta(name='twitter:description', content='Flexbox css framework')
  
  include include/_Head.pug

  body
    include include/_Hero.pug
    include include/_Page.pug
    include include/_Footer.pug
    include include/_Scripts.pug