doctype html
html
  title Mark Wilson UX Designer
  meta(name='title', content="Mark Wilson UX Designer")
  meta(property='og:title', content="Mark Wilson UX Designer")
  meta(name='twitter:title', content="Mark Wilson UX Designer")
  meta(name='description', content='UX Designer from Glasgow, Scotland')
  meta(property='og:description', content='UX Designer from Glasgow, Scotland')
  meta(name='twitter:description', content='UX Designer from Glasgow, Scotland')
  
  include include/_Head.pug

  body
    include include/_Hero.pug
    include include/_Page.pug
    include include/_Footer.pug
    include include/_Scripts.pug