footer
  .flex
    .flexi
      .wrap
        h3.animated.fadeInUp <span>✍️</span> Get in touch
        ul
          li.animated.fadeInUp
            a(href='mailto:e@markwil.so') e@markwil.so
          li.animated.fadeInUp
            a(href='https://dribbble.com/marrkus') Dribbble
          li.animated.fadeInUp
            a(href='https://www.linkedin.com/in/markus-wilson-ab0b51b5') LinkedIn