footer
  .flex
    .flexi
      .wrap
        h3.animated.fadeInUp <span>✍️</span> Get in touch
        ul
          li.animated.fadeInUp
            a(href='mailto:e@markwil.so') e@markwil.so
          li.animated.fadeInUp
            a(href='https://dribbble.com') Dribbble
          li.animated.fadeInUp
            a(href='https://linkedin.com') LinkedIn