header.hero
  .flex
    .flexi
      .wrap
        h1.animated.fadeInUp Hello 👋
        p.animated.fadeInUp I'm a UX Designer helping to create beautiful and functional products.
        p.animated.fadeInUp Currently designing for mixed reality at <a href="https://soluis.com">Soluis</a>.