section.header
  .wrap
    .flex
      .flexi.twelve
        h1 Mark Wilson.
        h5 UI/UX Designer
        
section.about
  .wrap
    .flex.no-padding
      .flexi.twelve
        h4 About
        p I’m a 28 year old UI/UX Designer from Glasgow, Scotland, helping companies to build beautiful and functional products. I'm currently designing for AR and VR.
        
section.portfolio
  .wrap
    .flex.no-padding
      .flexi.twelve
        h4 Portfolio
        p I'm in the process of updating my portfolio and to include more recent projects. In the meantime you can check out my <a href="https://dribbble.com/marrkus">dribbble</a>.
        
section.sideprojects
  .wrap
    .flex.no-padding
      .flexi.twelve
        h4 Side Projects
        p <a href='https://sketchsheets.com' target="_blank">Sketchsheets</a> - I created this source full of loads of ready to print device templates for wireframing.
        
section.contact
  .wrap
    .flex.no-padding
      .flexi.twelve
        h4 Contact
        a(href='mailto:e@markwil.so') Email <br>
        a(href='https://dribbble.com/marrkus' target="_blank") Dribbble <br>
        a(href='https://github.com/rnarrkus' target="_blank") GitHub <br>