section.sideprojects
  .flex
    .flexi
      .wrap
        small.animated.fadeInUp Side Projects
        ul
          li.animated.fadeInUp 
            a(href='https://sketchsheets.com') Sketchsheets